<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
body{
        background-color:darkslategrey;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 32.33%;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
<body>
    <div class="row">
        <div class="column">
            <P>
                <h2>
                    Describe your cultivation
                </h2>
            </p>
          <img src="c:\Users\rajap\OneDrive\Pictures\malli\IMG-20240110-WA0013.jpg" alt="step1" style="width:60%">
        </div>
        <div class="column">
            <p>
                <h2>
                    Answer a few questions
                </h2>
        
            </p>
          <img src="c:\Users\rajap\OneDrive\Pictures\malli\IMG-20240110-WA0014.jpg" alt="step2" style="width:60%">
        </div>
        </div>
    <div class="row">
            <div class="column">
                <P>
                    <h2>
                        Describe your cultivation
                    </h2>
                </p>
              <img src="c:\Users\rajap\OneDrive\Pictures\malli\IMG-20240110-WA0015.jpg" alt="step3" style="width:60%">
            </div>
            <div class="column">
                <p>
                    <h2>
                        Get application instructions
                    </h2>
            
                </p>
              <img src="c:\Users\rajap\OneDrive\Pictures\malli\IMG-20240110-WA0016.jpg" alt="step4" style="width:60%">
            </div>
            </div>
    
</body>
</html>